body {
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh;
    overflow: hidden;
}

.image-container img {
    
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1.Losangeles {
    color: rgb(27, 27, 27);
    font-size: 3em;
    margin: 0;
}

h1.Mountains {
    color: rgb(5, 18, 139);
    font-size: 3em;
    margin: 0;
}

.nav-menu {
    margin-top: 20px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
}

.menu-item {
    margin-bottom: 10px;
}

.menu-item a {
    display: block;
    text-decoration: none;
    color: rgb(12, 11, 11);
}

/* HISTORY */

.history-team {
    background-image: url(media/history-2.avif);

    display: flex;
    justify-content: center;
    margin-top: 10%;
    width: 100%;
    height: 100vh;
}

.history-container {
    position: relative;
}

.history-bg {
    width: 100%; /* Make the image cover the entire width of its container */
    height: auto; /* Maintain the image's aspect ratio */
    display: block;
}

.history-wraper {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    width: 80%;
    height: auto;
}
 .history-text {
    margin: 0;
    font-size: 3rem;
    margin-top: 0%;
    margin-left: 30%;
    margin-bottom: 2%;
}

.h-01 {
    font-size: 8rem;
}

p {
    margin-left: 20%;
}

/* carousel */

/* carousel */
.container .carousel {
    width: 80%;
    margin: auto;
    
}

.container .carousel-inner img {
    width: 30%; /* Make the images cover the entire width of their container */
    height: 25vh; /* Maintain the image's aspect ratio */
}



