body {
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh;
    background-image: url(media/header-bg.jpg);

}

.text-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1.Losangeles {
    color: rgb(27, 27, 27);
    font-size: 6rem;
    margin-top: 3%;
}

h1.Mountains {
    color: rgb(5, 18, 139);
    font-size: 7rem;
    margin: 0;
}

/* MENU */
/* Add a black background color to the top navigation */
.topnav {
    background-color: white;
    margin-top: -2%;
    margin-left: 68%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: hsl(249, 89%, 36%);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-top: -8%;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #405e3b;
    color: black;
    text-decoration: none;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

  @media screen and (max-width: 600px) {
    .topnav a {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
      font-size: 1.3rem;
    }

    h1.Losangeles {
        font-size: 2rem;
    }

    h1.Mountains {
        font-size: 3rem;
    }
  }

  /* LOGO */
  
.logo-wrapper { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
    height: 10vh;
}

.logo-wrapper h4 {
    margin-left: 2%;
}

.logo-wrapper img {
    margin-top: 2%;
    width: 6%;
    height: 4vh;
    border-radius: 60%;
}

/* HISTORY */

.history-team {
    background-image: url(media/history-2.avif);

    display: flex;
    justify-content: center;
    margin-top: 10%;
    width: 100%;
    height: 100vh;
}

.history-container {
    position: relative;
}

.history-bg {
    width: 100%; /* Make the image cover the entire width of its container */
    height: auto; /* Maintain the image's aspect ratio */
    display: block;
}

.history-wraper {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    width: 80%;
    height: auto;
}
 .history-text {
    margin: 0;
    font-size: 3rem;
    margin-top: 0%;
    margin-left: 30%;
    margin-bottom: 2%;
}

.h-01 {
    font-size: 8rem;
}

p {
    margin-left: 20%;
}

/* carousel */

/* carousel */
.container .carousel {
    width: 80%;
    margin: auto;
    
}

.container .carousel-inner img {
    width: 30%; /* Make the images cover the entire width of their container */
    height: 25vh; /* Maintain the image's aspect ratio */
}



